body {
    margin: 0 0 auto;
    box-sizing: border-box;
    background-color: #3E2A78;
    font-family: 'Assistant', sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
   
}
.top-menu {
    display: flex;
    align-items: center;
    
}

.upper-div {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 5px;
    margin: 25px;
    margin-left: 70px;
    
}

.upper-div, #logo {
    width: 50%;
}

#nav {
    display: flex;
    

}

.menu-list {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    margin-left: 35px;
}

#phone-number {
  font-weight: bold;
  color:#FF7200;
}

#logo {
    display: flex;
    justify-content:flex-start;
}

#logo-icon {
    margin-top: 25px;
    margin-right: 50px;
    width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 90%;
    border: 1px solid white;
    min-height: 100vh;
    margin: 25px;
}

.btn {
  padding: 10px 30px;
  font-size: 18px;
  font-family: 'Assistant', sans-serif;
  margin-top: 20px;
  margin-right: 250px;
  border-radius: 10px;
  box-shadow: 5px -5px 5px #FF7200;

}

.btn:hover {
  background: #654ea3; 
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  
  background: linear-gradient(to right, #eaafc8, #654ea3); 

}

/*particles*/
canvas {
    display: block;
   /* vertical-align: bottom;*/
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 90%;
    height: 100%;
    
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  /*.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }*/
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }

  .heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #heading-name {
    margin-top: 100px;
    font-size: 100px;
    color: #fff;
    
  }

  #first-heading-par {
    font-size: 50px;
    color:beige;
    line-height: 10px;
    color: #FF7200;
  }

  .sub-heading {
    font-size: 40px;
    color: #fff;
    margin: 10px;
  }

  
  .second-section-content {
    display: flex;
    justify-content: space-around;
    
  }


  #me-graphics {
    width: 350px;
    margin: 25px;
    padding: 10px;
  }

  .second-section-text {
    color: #fff;
    font-size: 20px;
    padding: 20px;
  }

  .section-content {
    color: #fff;
    font-size: 20px;
    margin: 20px;
    
  }

  #projects, .tech-imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .project {
    width: 300px;
    height: 400px;
    border: 1px solid rgb(194, 134, 134);
    margin: 20px 20px 70px 20px;
    padding: 1px;
    box-shadow: 5px -5px 5px 0px #C7CCCA;;
  }


  #third {
    height:fit-content
  }
 
  #project-img {
    width: 300px;
    height: 400px;
 
  }

  .project-description {
    color:#fff;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 134, 134);
    box-shadow: 5px -5px 5px 0px #C7CCCA;
  }

  .tech-img {
    margin: 30px;
    padding: 20px;
  }

  #footer-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: 1px solid white;
    min-height: fit-content;
    margin: auto;
  }

  .footer-part {
    width: 30%;
    margin: 20px 60px;
    padding: 20px;
  }

  .footer-text {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
  }

  .footer-text-note {
    color: #fff;
    font-size: 15px;
  }

  @media all and (max-width: 800px) {

    #top-menu {
      display:flex;
      flex-direction: column;
    }

    #logo-icon {
      height: 100px;
    }

    #heading-name, #first-heading-par {
      font-size: 35px;
    }

    .section {
      min-height: fit-content;
    }

    #second, .second-section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #me-graphics {
      width: 200px;
    }

    .second-section-text {
      font-size: 18px;
      text-align: justify;
    }

    #btn-hero {
      align-self: center;
      margin-bottom: 20px;
    }
    
    #footer-section {
      display: flex;
      flex-direction: column;
      align-items: center;
}

  .footer-part {
      width: 80%;
    }
  }




  @media all and (max-width: 500px) {
    #top-menu {
      padding: 5px;
    }
#footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

    .footer-text {
      font-size: 17px;
    }

    
  }
